@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    background-color: #2f2f2f;
    color: #eeeeee;
    text-align: center;
    padding: 24px;
}
header h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
}
header a {
    text-decoration: none;
    color: inherit; /*Puxa a cor da tag pai no caso o header*/
}
main p {
    padding: 24px 0 24px 10%;
    font-size: 20px;
    color: #2f2f2f;
}
#verso-02 {
    background-image: url(imagens/wallpaper004.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow:  inset 2px 2px 10px #2f2f2f80;
    background-attachment: fixed;
}
#verso-04 {
    background-image: url(imagens/wallpaper004.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow:  inset 2px 2px 10px #2f2f2f80;
    background-attachment: fixed;
}
footer {
    background: #2f2f2f;
    color: #eeeeee;
    padding: 12px;
    text-align: center;
}